@import "tailwindcss";
/* Force selector-driven variant resolution. 
  This acts as a definitive override if Tailwind tries to default to system media queries.
*/
/* override the dark variant of Tailwind v4 to make it listen for the .dark category on html tags. */
@custom-variant dark (&:where(.dark, .dark *));


/* The style for SVG-based icons and charts in both of the light and dark mode. */
@layer base {
  :root {
    --icon-colour: theme('colors.black');
  }
  .dark {
    --icon-colour: theme('colors.white');
  }
}

body {
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}